<!-- LRR Standard Footer -->

<p class="ip">
    [% IF descstr %]
    [% descstr %]
    <br>
    [% END %]
    Powered by <a href="https://github.com/Difegue/LANraragi"> LANraragi.</a>
    <br>
    CN Translation by <a href="https://reiyy.com">夜棂依Yareiy.</a> enjoy, heart❤️.
</p>